<!doctype html>
<html>
    <head>
    <title>Profile</title>
    <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <header>
            <h1 class="header"><strong>Welcome Back, {{content}}!</strong></h1>
        </header>

        <nav>
            <p>Purriod  Profile Risk Screen Edit</p>
            <p><a href="risks.html">Risk Screen</a></p>
        </nav> 

        <basic>
            <h3>Basic Info</h3>
            <p>name: </p>
            <p>age: 21</p>
            <p>sex: F</p>
            <p>weight: 120</p>
            <p>height: 5'4"</p>
            <p>BMI: 21</p>
        </basic>
    
        <lifestyle>
            <h3>Lifestyle</h3>
            <p>smoker: </p>
            <p>exercise: </p>
            <p>fruits/vegetables: </p>
            <p>heavy alcohol: </p>
        </lifestyle>
        
        <medications>
            <h3>Medications</h3>
            <p>fluoxetine 20mg, once a day</p>
            <p>lisinopril 5mg, once a day</p>
            <p>albuterol sulfate, prn</p>
            <p>omeprazole, once a day before meal</p>
        </medications>

    <style>
        .header {
            position: absolute;
            width: 1512px;
            height: 134px;
            left: 0px;
            top: 0px;
            background: #E9DFFC;
        }
        
        body {
            color: red;
        }

        
    </style>
    </body>
</html>