{% extends "profile.html" %}

{% block title %} Survey {% endblock %}

{% block content %}
<form method = "POST">
    <!-- <center> -->
        <div class="form-group">
        <h1><label for="age"> Age </label> </h1>
        <input type="number" id="age" name="age">
        </div>
        <h1><label for="weight"> Weight </label> </h1>
        <input type="number" id="weight" name="weight">

        <h1><label for="height"> Height </label> </h1>
        <input type="number" id="height" name="height">

        <h1>Are you a current smoker?</h1>
        <input type="radio" id="yes" name="smoker" value="true">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="smoker" value="false">
        <label for="no">No</label><br>

        <h1>Have you ever suffered from a stroke?</h1>
        <input type="radio" id="yes" name="stroke" value="true">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="stroke" value="false">
        <label for="no">No</label><br>

        <h1>Do you have high blood pressure?</h1>
        <input type="radio" id="yes" name="bloodpressure" value="true">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="bloodpressure" value="false">
        <label for="no">No</label><br>

        <h1>Have you EVER been told by a doctor, nurse or other health professional that your blood cholesterol is high??</h1>
        <input type="radio" id="yes" name="cholesterol" value="true">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="cholesterol" value="false">
        <label for="no">No</label><br>

        <button type="submit" class="btn btn-primary"><a href="/profile">Enter</a></button>
</form>
{% endblock %}